<h1 class="heading">Welcome to Admin Menu</h1>
<div class="features"><button type="submit" class="btn btn-primary" (click)="addprofessor_call()">Add Professor</button></div>
<div class="features"><button type="submit" class="btn btn-secondary" (click)="viewUnapprove_call()">View Unapprove</button></div>
<div class="features"><button type="submit" class="btn btn-success" (click)="approveStudent_call()">Approve Student</button></div>
<div class="features"><button type="submit" class="btn btn-danger" (click)="addcourse_call()">Add Course</button></div>
<div class="features"><button type="submit" class="btn btn-warning" (click)="removecourse_call()">Remove Course</button></div>
<div class="features"><button type="submit" class="btn btn-info" (click)="viewcourse_call()">View Courses</button></div>
<div class="features"><button type="submit" class="btn btn-success" (click)="addadmin_call()">Add Admin</button></div>
<div class="features"><button type="submit" class="btn btn-dark" (click)="generatereport_call()">Generate Report</button></div>
