<h2 class="heading">Add Course here</h2>
<div class="mx-auto col-10 col-md-8 col-lg-6">
<form ngForm>
    <div class="form-group">
      <label for="name">Course name</label>
      <input type="text" class="form-control" id="name"
              [(ngModel)]="model.coursename" name="id" required="true" placeholder="Enter Course Name">
    </div>
    
    <div class="form-group">
      <label for="age">Enter Professor ID:</label>
      <input type="text"  class="form-control" id="id"
      [(ngModel)]="model.profid" name="password" required="true" placeholder="Enter Professor ID:">
    </div>
    <div class="vertical-center">
        <button type="submit" class="btn" (click)="addCourse()">Submit</button>
    </div>

</form>
</div>
